.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.filter-form {
  padding: 1rem;
}

.filter-form footer {
  margin-top: 1rem;
  text-align: right;
  padding: 1rem;
  min-height: auto; /* override bootstrap */
}

.btn-save {
  margin-left: 1rem;
}

.filter-list {
  list-style: none;
  padding: 0;
}
.filter-list li {
  display: flex;
  align-items: center;
  max-width: 36rem;
  border: 1px solid #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.filter-list li * + * {
  margin-left: 0.5rem;
}

.filter-list li + li {
  margin-top: 0.5rem;
}

.filter-list label {
  margin-bottom: 0;
}
.filter-list [type="text"] {
  max-width: 12rem;
}
.filter-list select {
  max-width: 12rem;
}
.filter-list button:last-child {
  margin-left: auto;
}

.column-list {
  position: absolute;
  top: 3rem;
  max-height: 25rem;
  overflow: scroll;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
}

.column-list li {
  padding: 0;
}
.column-list button {
  border: 0;
}

.score-modal footer {
  margin-top: 1rem;
  text-align: right;
  padding: 1rem;
  min-height: auto; /* override bootstrap */
}

.score-modal button:last-of-type {
  margin-left: 1rem;
}

.score-modal select {
  max-width: 12rem;
}

.popper-tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

.popper-tooltip[data-show="false"] {
  display: none;
}

.popper-tooltip[data-show="true"] {
  display: block;
}

.popper-arrow,
.popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popper-arrow {
  visibility: hidden;
}

.popper-arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.popper-tooltip[data-popper-placement^="top"] > .popper-arrow {
  bottom: -4px;
}

.popper-tooltip[data-popper-placement^="bottom"] > .popper-arrow {
  top: -4px;
}

.popper-tooltip[data-popper-placement^="left"] > .popper-arrow {
  right: -4px;
}

.popper-tooltip[data-popper-placement^="right"] > .popper-arrow {
  left: -4px;
}

.sample-list {
  list-style: none;
  padding: 0;
  max-width: 20rem;
}

.sample-list li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sample-list li + li {
  margin-top: 0.25rem;
}
